// --------------------
// Definition of variables
$primary: #32c3ff;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #faf5f5;

}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: left;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background: linear-gradient(217deg, rgba(0, 162, 255, 0.8), rgba(0, 165, 191, 0.877) 70.71%);
    ;
    padding: 20px;
    color: white;
    height: 8vh;
    border-bottom: 2px solid lightgray;



    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
    margin-top: 0;

  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {

  text-align: center;
  background-color: #faf5f5;


  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {

  display: flex;
  align-items: center;
  flex-direction: column;

  .result {
    font-size: 1.2em;
    color: $primary;

  }
}


.Login {
  margin-top: 20px;
}

.bigTitle {
  font-size: 30px;
}

.jobTitle {
  display: flex;
  justify-content: flex-start;
  font-size: 2em;
  margin-top: 20px;
  color: rgb(49, 129, 209)
}

.jobTitle:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.companyName {
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-size: 1.5em;

}


.listWidth {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width: 40vw;
  border: 1px solid rgba(128, 128, 128, 0.571);
  margin-left: 20px;
  padding: 0px 10px 15px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px lightgray;
  height: auto;
  background: linear-gradient(217deg, rgba(237, 236, 255, 0.646), rgba(231, 232, 247, 0.415) 70.71%);


}

.theJobs {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.addToListSymbol {
  display: flex;
  justify-content: flex-end;

}

.plusSign {
  font-size: 1.2em;
  color: blue;
}

.location {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.description {
  padding-top: 10px;
  text-align: left;
}

.plusSign {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.deleteJob {
  cursor: pointer;
  color: red;
  font-size: 12px;
  font-weight: 600;
}

.removeAccount {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  color: red;
}

.updateFormatPic {
  margin-top: 2vw;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
}

.updateFormatPic input {
  display: flex;
  align-items: center;
}

.profilePic {
  width: 140px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;

}

.flexPicture {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 2vw;
  margin-top: 2vh;
  padding-left: 5px;



  .card {
    width: 160px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px lightgray;
    height: 220px;
    padding: 5px 0px 20px 8px;
    border-radius: 10px;
  }

  h3 {
    font-size: 1em;
    font-weight: 700;
    text-align: center;
  }
}

.flexHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linkEffects:hover {
  font-weight: 700;
}

.theUserName {
  font-size: 3em;
}